<forge-scaffold>
  <forge-app-bar slot="header" title-text="Colby Benway">
    <forge-app-bar-menu-button (click)="toggleDrawer()" slot="start"></forge-app-bar-menu-button>
  </forge-app-bar>

  <forge-drawer slot="body-left" [open]="drawerOpen" direction="left">
    <forge-list (forge-list-item-select)="goTo($event.detail)">
      <forge-list-item value="">
        <forge-icon name="home" slot="leading"></forge-icon>
        <span slot="title">Home</span>
      </forge-list-item>
      <forge-list-item value="resume">
        <forge-icon name="description" slot="leading"></forge-icon>
        <span slot="title">Resume</span>
      </forge-list-item>
      <forge-list-item value="dog">
        <forge-icon name="dog" slot="leading"></forge-icon>
        <span slot="title">My dog</span>
      </forge-list-item>
    </forge-list>
  </forge-drawer>

  <div slot="body">
    <router-outlet></router-outlet>
  </div>
</forge-scaffold>

