<tcw-scaffold>
    <forge-accordion slot="body">
        <forge-expansion-panel>
            <div role="button" tabindex="0" slot="header" class="expansion-panel-header">
                <div class="forge-typography--title">Education</div>
                <forge-open-icon></forge-open-icon>
            </div>
            <div><p class="forge-typography--body1">I will graduate from the Rochester Institute of Technology in May of 2023 with a BS in Software Engineering, a minor in Entrepreneurship, and an immersion in Economics; my cumulative GPA is 3.83.</p></div>
        </forge-expansion-panel>
        <forge-expansion-panel>
            <div role="button" tabindex="0" slot="header" class="expansion-panel-header">
                <div class="forge-typography--title">Job Experience</div>
                <forge-open-icon></forge-open-icon>
              </div>
              <div>
                <p class="forge-typography--body1">
                    I have worked as an intern at <a href="https://www.tylertech.com" rel="external" target="_blank">Tyler Technologies</a> since May 2019. 
                    My responsibilities have grown to being a top contributor on the companies largest projects. I take part in 
                    learning new technologies, implementing new tech stacks, and designing applications. I help train 
                    newer employees and lead team wide training sessions for the technologies I implement. My biggest projects include 
                    full-stack rewrites of enterprise web applications that involved overhauling the UI in Angular 12 and porting the 
                    backend logic to Genero RESTful APIs. Next time you are at your local city hall, ask them what software they use - 
                    I might've squashed bugs in it. 
                </p>
              </div>
        </forge-expansion-panel>
        <forge-expansion-panel>
            <div role="button" tabindex="0" slot="header" class="expansion-panel-header">
                <div class="forge-typography--title">Hockey</div>
                <forge-open-icon></forge-open-icon>
              </div>
              <div>
                <p class="forge-typography--body1">
                I have been on skates since I was 2 and playing hockey not long after that. I spent lots of weekends in rinks 
                trying to make it big - this website's existence tells you all you need to know about how that went. I am still 
                passionate about the game and play men's league wherever I can. I am currently the president of RIT's roller hockey 
                team which participates in the ECRHA (<a href="https://ritroller.com" rel="external" target="_blank">check it out</a>). 
                By the way, I'm a Bruins fan, hope that's not a dealbreaker.
                </p>
              </div>
        </forge-expansion-panel>
    </forge-accordion>

    <forge-toolbar slot="footer">
        <forge-button slot="end">
            <button type="button" (click)="openLinkedIn()">Connect on LinkedIn</button>
        </forge-button>
    </forge-toolbar>
</tcw-scaffold>