/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1 1 auto;
}

mat-icon {
    padding: 8px;
}

mat-card {
    padding: 16px;
}

mat-form-field{
    width: 256px;
}