/* You can add global styles to this file, and also import other style files */
@import '@tylertech/forge/dist/forge.css';

html,
body,
app-root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; }

.app-grid {
    display: grid;

    .app-grid-row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        grid-gap: 0px 16px;

        &--three {
            @extend .app-grid-row;
            grid-template-columns: 1fr 1fr 1fr;

        }
    }
}

forge-card, forge-expansion-panel {
    padding: 16px;
}
