<div class="app-grid">
    <div class="app-grid-row--three">
        <forge-card outlined>
            <p class="forge-typography--body1">
                I am the president of RIT's Roller Hockey club and skate in men's leagues wherever I find myself!
            </p>
        </forge-card>
        <forge-card outlined>
            <p class="forge-typography--body1">
                I work on personal coding projects to learn new technologies and challenge myself outside work. Currently expirmenting with AWS and Docker!
            </p>
        </forge-card>
        <forge-card outlined>
            <p class="forge-typography--body1">
                My second love is the ocean, and my favorite summer spot is on Lower Goose Island in Casco Bay Maine! I spend as much time on the water as I can year round.
            </p>
        </forge-card>
    </div>
    <div class="app-grid-row">
        <forge-card>
            <div style="display: flex; justify-content: center;">
                <img slot="body" src="assets/pics/IMG_0367.png" alt="My dog" height="512px">
            </div>
            <p class="forge-typography--body1">This is my dog Casco. He travels all over the place with me and might be the most energetic dood you've met.</p>
        </forge-card>
    </div>
</div>