<div class="app-grid">
    <div class="app-grid-row">
        <forge-card>
            <p style="display: flex; justify-content: center;" class="forge-typography--headline1">
                Welcome
            </p>
        </forge-card>
    </div>
    <div class="app-grid-row">
      <forge-card>
        <p class="forge-typography--body1">
          I'm a senior software engineer at Tyler Technologies on the EERP Architecture team. I work with Kubernetes, C#, and AWS
          to create infrastructure for the largest software company serving the public sector. Explore to learn more about me.
        </p>
      </forge-card>
    </div>
</div>
